#show {
    display: flex;
}

.book-set {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
    width: fit-content;
    background-color: #79cddb;
    border: 2px solid black;
    border-radius: 10%;
}

.book-set:hover {
    border: 1px solid white;
    box-shadow: 5px 5px 15px 5px #0D5387;
}


